<!-- Components/footer.html -->
<section class="footer-banner">
  <div class="left-footer-banner">
    <img src="Images/footerbannerlogo.png" alt="Ray Logo" />
    <p class="ray-text">Ray</p>
    <span class="footer-label">Cash on Delivery</span>
  </div> 
  <div class="left-footer-banner">
    <img src="Images/footerbannerlogo.png" alt="Ray Logo" />
    <p class="ray-text">Ray</p>
    <span class="footer-label">Free Shipping on order above 300</span>
  </div>
  <div class="left-footer-banner">
    <img src="Images/footerbannerlogo.png" alt="Ray Logo" />
    <p class="ray-text">Ray</p>
    <span class="footer-label"></span>
  </div>
</section>

<footer class="footer">
  <h2 class="footer-header-text">Shope Online Plant At Best Place in India</h2>
  <div class="footer-links">
    <div>
      <h4>Home</h4>
      <a href="#">Best Seller</a>
      <a href="#">Deal Of The Day</a>
      <a href="#">Track My Order</a>
    </div>
    <div>
      <h4>Category</h4>
      <a href="#">Xl Indoor Plant</a>
      <a href="#">Large Indoor Plant</a>
      <a href="#">Medium Indoor Plant</a>
      <a href="#">Small Indoor Plant</a>
      <a href="#">Plant Food</a>
      <a href="#">Plant Care</a>
    </div>
    <div>
      <h4>Quick Links</h4>
      <a href="#">About Us</a>
      <a href="#">FAQs</a>
      <a href="#">Term & Condition</a>
    </div>
    <div>
      <h4>Get In Touch</h4>
      <p>📍 Abc Street , Kerala</p>
      <p>📞 +91 987654321</p>
      <p>📧 <i><u>ray@gmail.com</u></i></p>
    </div>
  </div>
  <div class="social">
    <p>Follow Us on</p>
    <img src="Images/instagram-icon.png" alt="Instagram" class="social-icon">
    <img src="Images/facebook-icon.png" alt="Facebook" class="social-icon">
    <img src="Images/youtube-icon.png" alt="YouTube" class="social-icon">
  </div>
</footer>
