<!-- plant-categories.html -->

  <div class="category-row">
    <a href="XLIndoorPlants_ThirdPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/XLIndoorplant.png" alt="XL Indoor Plant" />
      </div>
      <div class="circle-caption">XL Indoor Plant</div>
    </a>
    <a href="LargeIndoorPlants2Banner_EigthPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/largeindoorplant.png" alt="Large Indoor Plant" />
      </div>
      <div class="circle-caption">Large Indoor Plant</div>
    </a>

    <a href="LargeIndoorPlantsSingleBanner_FourthPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/mediumindoorplant.png" alt="Medium Indoor Plant" />
      </div>
      <div class="circle-caption">Medium Indoor Plant</div>
    </a>

    <a href="SmallIndoorPlants2Banners_FifthPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/smallindoorplant.png" alt="Small Indoor Plant" />
      </div>
      <div class="circle-caption">Small Indoor Plant</div>
    </a>

    <a href="PlantFood_SixthPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/plantfood.png" alt="Plant Food" />
      </div>
      <div class="circle-caption">Plant Food</div>
    </a>

    <a href="PlantCare_SeventhPage.html" class="circle-with-text">
      <div class="plant-circle">
        <img src="Images/plantcare.png" alt="Plant Care" />
      </div>
      <div class="circle-caption">Plant Care</div>
    </a>
  </div>

